<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config />

    <context:component-scan base-package="demo.spring.mvc">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <context:property-placeholder location="classpath:jdbc.properties" />

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <bean id="dataSourceForHibernate" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="minPoolSize" value="5" />
        <property name="maxPoolSize" value="20" />
        <property name="maxIdleTime" value="1200" />
        <property name="acquireIncrement" value="1" />
        <property name="maxStatements" value="100" />
        <property name="idleConnectionTestPeriod" value="120" />
        <!--<property name="acquireRetryAttempts" value="3"/>-->
        <!--<property name="breakAfterAcquireFailure" value="true" />-->
        <!--<property name="testConnectionOnCheckin" value="true" />-->
        <!--<property name="testConnectionOnCheckout" value="true" />-->
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSourceForHibernate" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="show_sql">true</prop>
                <prop key="format_sql">true</prop>
                <prop key="current_session_context_class">thread</prop>
            </props>
        </property>
        <property name="mappingResources" value="demo/spring/model/entity/Account.hbm.xml" />
    </bean>

    <context:component-scan base-package="demo.spring.model.dao" />

    <context:component-scan base-package="demo.spring.model.service" />

    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
        <qualifier value="dataSourceTransactionManager" />
    </bean>

    <bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
        <qualifier value="hibernateTransactionManager" />
    </bean>

    <tx:annotation-driven transaction-manager="dataSourceTransactionManager" />

    <tx:annotation-driven transaction-manager="hibernateTransactionManager" />

    <bean id="demoAspect" class="demo.spring.aop.DemoAspect" scope="prototype"/>

    <aop:config>
        <aop:pointcut id="accountServicePointcut" expression="execution(* demo.spring.model.service.interf.AccountService+.*(..))" />
        <aop:aspect id="aspect" ref="demoAspect">
            <aop:before method="before" pointcut-ref="accountServicePointcut" />
            <aop:after method="after" pointcut-ref="accountServicePointcut" />
        </aop:aspect>
    </aop:config>

</beans>